*{
	margin:0;
	padding:0;

}
body
{
	background-image: url(im4.jpg);
	font-family:sans-serif;



}
#nav-bar
{
	background-color:blue;
	position: sticky;
	top:0;
	z-index:10;
	float: right;
    color: white;
}
.nav-link:hover{
    background-color:black;
}
.navbar
{

    padding: 0 !important;
}
navbar-brand img
{
	height:60px;
	padding-left:20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color:white;
font-weight:600;
float:right;
text-align:left;
}
.fa-bars
{
	color:#fd0932;
	font-size:30p !important;
}
.navbar-toggler
{
	outline:none !important;
}
/*---banner section--*/
#main
{
	text-align: center;
background-color:gray;
color:white;
padding-top:10%;
}
.container h1 img{
	padding-bottom: 10px;
}


/*---service section---*/
#features1
{
	text-align: center;
	padding: 10% 15%;
}
 #features
 {
     text-align: center;
	 padding: 10% 15%; background-image: url(im.jpg);

 }
 .features1 h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}

.features h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}
.title::before
{
	content:'';
	background:black;
	height:5px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	transform:translatey(63px);
}
.title::after
{
	content:'';
	background:blue;
	height:10px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:40px;
    display: block;
	transform:translatey(8px);
}
#features .btn-primary
{
	box-shadow:none;
	padding:10px 25px;
	border:none;
	align-content: center;
	background-image:blue;
}
/* Action*/
  #action{
    background-color:gray;
    padding: 7% 15%;
    text-align: center;
    line-height: 1.5;
    color:black;
    width: 1600px;
    height: 100px;
  }
  .main{
    font-size: 3rem;
    line-height: 1.5;
    padding: 10px 0px;
  }
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* footer */
#footer{
	background-color:gray;
    color:black;
    padding: 4% 25%;
    text-align: center;
}